body {
	font-family: 'Amatic SC', cursive;
	font-size: xx-large;
	background-color: #2a3a3f;
	text-align: center;
	background: linear-gradient(45deg, #e58ac2, #b9e5f0);
	background-size: cover;
}

h1 {
	font-family: 'Amatic SC', cursive;
	border:2px solid rgb(13, 38, 53);
	border-radius: 30px;
	color: #000000;
}

.body-paragraph {
	font-weight: bold;
	margin: 10px 0;
}

.parent-div {
	width: max;
	height: 200px;
	margin: 50px auto;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: stretch;
	border: #000000
}

.links-div {
	position:fixed;
	bottom: 50;
	left: 0;
	width: 10%;
	box-align: vertical;
	align-items: stretch;

}

.smaller-image {
	width: 100px;
}


.parent-div div{
	padding: 20px;
	margin: 0 20px;
}
.child-1 {
	background-color: #db2194;
}

.child-2 {
	background-color: #00ccff;
}

.catimage {
	width: 10%;
}

a {
	color:rgb(236, 9, 206);
}

.pink-text{
	color:pink;
}
